version: '3'
services:
  api:
    build:
      context: .
      args:
        - usedb=mysql
    ports:
    - "8080:8080"
    depends_on:
    - "db"
  db:
    image: "sameersbn/mysql"
    environment:
      - DB_NAME=dbname
      - DB_USER=dbuser
      - DB_PASS=dbpass
    expose:
    - "3306"
  ui:
    build:
      context: ../nuxt-sandbox/
      dockerfile: Dev.Dockerfile
    volumes:
      - ../nuxt-sandbox/:/app
    ports:
    - "8989:8989"
    depends_on:
      - "api"
